In [49]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [50]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [51]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)

In [52]:
df = pd.DataFrame(te_ary, columns=te.columns_)

df

In [53]:
from mlxtend.frequent_patterns import fpgrowth

In [54]:
fpgrowth(df, min_support=0.6)
fpgrowth(df, min_support=0.6, use_colnames=True)

    support                     itemsets
0       1.0               (Kidney Beans)
1       0.8                       (Eggs)
2       0.6                     (Yogurt)
3       0.6                       (Milk)
4       0.6                      (Onion)
5       0.8         (Kidney Beans, Eggs)
6       0.6       (Kidney Beans, Yogurt)
7       0.6         (Kidney Beans, Milk)
8       0.6                (Onion, Eggs)
9       0.6        (Onion, Kidney Beans)
10      0.6  (Onion, Kidney Beans, Eggs)